/* Colors Theme */

$black: #111;

$grey-lighter: hsl(0, 0%, 99.5%);
$grey-light : hsl(0, 0%, 90%);
$grey-medium: hsl(0, 0%, 80%);
$grey-dark: hsl(0, 0%, 50%);
$grey-darker: hsl(0, 0%, 40%);

$color1: hsl(218, 59%, 78%);
$color2: hsl(218, 75%, 65%);

$color-info: mediumseagreen;
$color-error: tomato;

$highlight: scale-color($color2, $saturation: -30%);
