/* Colors Theme */

$white: grey(0);
$black: grey(9);

$grey-lighter: grey(1);
$grey-light : grey(2);
$grey-medium: grey(3);
$grey-dark: grey(5);
$grey-darker: grey(6);

$color1: hsl(218, 59%, 78%);
$color2: hsl(218, 75%, 65%);

$color-info: mediumseagreen;
$color-error: tomato;

$highlight: primary(4);
