// Fonts

@font-face {
  font-family: "Source Sans Pro";
  font-style: normal;
  font-weight: 400;
  src: url("./fonts/SourceSansPro-Regular.ttf")
}


@font-face {
  font-family: "Roboto Slab";
  font-style: normal;
  font-weight: 400;
  src: url("./fonts/RobotoSlab-Regular.ttf")
}

    
