/* Screen-size handling */

@media screen and (min-width: 46em), screen and (min-height: 36.5em)
{
  html { font-size: 1.1em; }
}

@media screen and (min-width: 62em), screen and (min-height: 48em)
{
  html { font-size: 1.2em; }
}

@media screen and (min-width: 83em), screen and (min-height: 64em)
{
  html { font-size: 1.3em; }
}

@media (min-width: 118em), screen and (min-height: 85em)
{
  html { font-size: 1.5em; }
}

@media (min-width: 158em)
{
  html { font-size: 1.8em; }
}
