/* Modal Style */

.Modal {
    @include elevation(4)

    max-height: 95%;
    width: 40em;
    max-width: 95%;

    border-radius: 0.1em;
    background: $white;
    overflow-x: hidden;
    overflow-y: auto;
}

