/* Footer Style */

body > footer
{
  border-top: solid 1px hsl(0, 0%, 90%);
  background: white;
  text-align: center;

  white-space: nowrap;
  overflow-x: auto;
  overflow-y: hidden;

  .Icon {
    display: inline-block;
    margin: 0.25em 0.75em 0 0.75em;

    svg {
      height: 2.5em;
      fill: hsl(0, 0%, 80%);
      transition: fill 0.2s ease
    }
    &:hover svg {
      fill: hsl(0, 0%, 40%);
    }
  }

  p {
    line-height: 1.5em;
    margin: 0 0.75em;
    color: hsl(0, 0%, 40%);
  }

  a {
    color: hsl(0, 0%, 40%);
  }
}

