/* Form styling */

/* Blocks */

form
{
  position: relative;
  clear: both;

  padding: 0.3em 0.5em;
  text-align: center;
}

fieldset,
form > label
{
  display: inline-block;
  min-height: 2.4em;
  width: 100%;
  border: none;

  text-align: right;

  & > span:first-child,
  & > legend:first-child
  {
    display: inline-block;
    float: left;
    line-height: 2.2em;
    width: 20%;

    text-align: left;
    white-space: nowrap;
  }
}

/* Elements */

textarea,
select,
button,
input,
label
{
  display: inline-block;
  width: 100%;
  height: 1.8em;
  max-width: 35em;
  margin: 0.2em 0;

  padding: 0 0.2em;
  overflow: hidden;

  transition: all 0.2s ease;
}

textarea,
select,
button,
input
{
  border: solid 0.05em hsl(240, 10%, 85%);
  border-radius: 0.1em;

  background: hsl(240, 40%, 98%);

  [type="number"]
  {
    text-align: right;
  }

  &[readonly]
  {
    color: hsl(0, 0%, 40%);
  }

  &:enabled:focus
  {
    outline: 0;
    box-shadow: 0em 0em 0.2em hsl(240, 10%, 60%);
  }

  &:enabled:hover
  {
    border: solid 0.05em hsl(240, 10%, 70%);
  }

}

textarea[readonly],
input[readonly],
select
{
  &:hover {
    cursor: pointer;
  }
}


[type="button"],
[type="submit"],
button
{
  background: hsl(240, 40%, 96%);

  &:enabled:hover
  {
    cursor: pointer;
    background: hsl(240, 40%, 95%);
  }
}

[type="checkbox"],
[type="radio"]
{
  display: none;

  & + label::before { line-height: 1.4em; }
  &[type="checkbox"] + label::before { content: "✘ "; }
  &[type="checkbox"]:checked + label::before { content: "✔ "; }

  & + label,
  {
    width: 38%;
    min-width: 9.9em;
    border-radius: 0.1em;

    padding: 0.2em;
    line-height: 1.4em;
    white-space: nowrap;
    font-style: italic;
    text-align: center;
    color: hsl(0, 0%, 40%);

    img {
      height: 100%;
      width: auto;
      float: left;

      padding: 0.1em;
    }
  }

  &:checked + label {
    color: black;
    font-style: normal;
  }

  &:disabled:checked + label
  {
    box-shadow: inset 0 0 0.2em hsl(240, 10%, 60%);
  }

  &:enabled:checked + label
  {
    background-color: lightgreen;
  }

  &:enabled + label:hover
  {
    background: mediumseagreen;
    color: black;
    cursor: pointer;
  }
}


/* Sizing */

label > *,
fieldset > *
{
  width: 76%;
}

label .half,
fieldset .half
{
  width: 38%;
}

label .third,
fieldset .third,
{
  width: 25%;
}

