/* Header Style */

body > header
{
  @include elevation(2)

  background: $white;
  padding: 0 2%;
  vertical-align: top;
  overflow: hidden;

  line-height: $header-height;

  nav {
    display: none;
    @media screen and (min-width: 46em) { display: unset; }

    line-height: inherit;
    font-size: 1.05em;

    a {
      margin-top: 0.3rem;
      line-height: 2.4rem;
    }
  }

  select {
    @media screen and (min-width: 46em) { display:none; }

    float: right;
    width: auto;
    height: $header-height;
    margin: 0;
    font-size: 1.05em;

    border: solid thin transparent;
    background: white;

    color: grey(6);
    text-align-last: center;
  }

  h1
  {
    display: inline-block;
    margin: 0.75rem 0;

    line-height: 1.5rem;
    font-size: 1.5em;
    font-style: italic;
    color: grey(6);
    font-weight: bolder;

    svg {
      display: inline-block;
      height: 1em;
      fill: grey(6);
      transform: skewX(-12deg);
    }
  }
}
