/* Header Style */

body > header
{
  box-shadow: 0.1em 0.1em 0.2em 0.1em hsl(0, 0%, 90%);
  background: white;
  padding: 0 2%;
  vertical-align: top;
  overflow: hidden;

  line-height: 2.5em;

  nav {
    line-height: inherit;

    a {
      color: hsl(0, 0%, 70%);

      &:not(.selected):hover { text-decoration: none; }
      &:hover, &.selected { color: burlywood; }
    }
  }

  select {
    float: right;
    width: auto;
    height: 2.5em;
    margin: 0;

    border: none!important;
    box-shadow: none!important;
    background: white;

    color: hsl(0, 0%, 40%);
    text-align-last: right;
  }

  h1
  {
    display: inline;

    font-size: 1.25em;
    font-style: italic;
    color: hsl(0, 0%, 40%);

    svg {
      height: 1.1em;
      fill: hsl(0, 0%, 40%);
      transform: skewX(-12deg);
      vertical-align: text-top;
    }
  }
}
