/* Header Style */

body > header
{
  box-shadow: 0.1em 0.1em 0.2em 0.1em $grey-light;
  background: white;
  padding: 0 2%;
  vertical-align: top;
  overflow: hidden;

  line-height: 3rem;

  nav {
    line-height: inherit;
    font-size: 1.05em;

    a {
      margin-top: 0.3rem;
      line-height: 2.4rem;
    }
  }

  select {
    float: right;
    width: auto;
    height: 3rem;
    margin: 0;
    font-size: 1.05em;

    border: none!important;
    box-shadow: none!important;
    background: white;

    color: $grey-dark;
    text-align-last: right;
  }

  h1
  {
    display: inline-block;
    margin: 0.75rem 0;

    line-height: 1.5rem;
    font-size: 1.5em;
    font-style: italic;
    color: $grey-darker;
    font-weight: bolder;

    svg {
      display: inline-block;
      height: 1em;
      fill: $grey-darker;
      transform: skewX(-12deg);
    }
  }
}
