/* Main Style */

body > noscript,
body > main
{
  padding: 0.3em 1%;
  overflow: hidden;

  section p
  {
    padding: 0 1em;
  }

  #loading,
  section section
  {
    width: 100%;
    margin: 2rem 0;

    box-shadow: 0.1em 0.1em 0.2em hsl(0, 0%, 90%);
    border-radius: 0.1em;
    background: hsl(240, 40%, 99.5%);
    overflow-x: auto;
    overflow-y: hidden;
  }
}
