/* Main Style */

body > noscript,
body > main
{
  padding: 0.3em 1%;
  overflow: hidden;

  section.landing {
    img {
      float: right;
      width: 40%;
      margin: 0.2em 1em 0.6em 1em;

      border-radius: 0.5em;
      border: thin solid grey(4);
      background: $white;
    }

    &:nth-child(2n+1) {
      img { float: left; }
    }
  }

  section p {
    padding: 0 1em;
  }

  #loading,
  section section
  {
    @include elevation(1)

    width: 100%;
    margin: 2rem 0;
    border-radius: 0.1em;

    background: $white;
    overflow-x: auto;
    overflow-y: hidden;

    a { color: primary(6); }
  }
}
