/* Table */

table
{
  width: 100%;
  margin: 0;
  border-collapse: collapse;
}

th, td
{
  padding: 0.5em 0.75em;
  white-space: nowrap;
  height: 2.5rem;
}

th
{
  height: 3rem;
  font-size: 1.05em;
  background: scale-color($color1, $lightness: 80%);
  border-bottom: 1px solid scale-color($color1, $lightness: 70%);

  // Fix Chrome subpixel padding.
  box-shadow: 2px 0px 1px scale-color($color1, $lightness: 80%);
  
  &.name {
    text-align: left;
    padding-left: 3em;
  }
}

td {
  img {
    height: 1.5em;
    width: 1.5em;
    margin-right: 0.75em;
  }
}

tr {
  &:hover { cursor: pointer; }

  &:hover, &.selected {
    background: scale-color($highlight, $lightness: 93%);
    // Fix Chrome subpixel padding.
    box-shadow: 2px 0px 1px scale-color($highlight, $lightness: 93%);
  }

  .footer { font-weight: bold; }
}
