/* Table */

table
{
  width: 100%;
  margin: 0;
  border-collapse: collapse;
}

th, td
{
  padding: 0.5em 0.75em;
  white-space: nowrap;
  height: 2.5rem;
}

th
{
  height: 2.8rem;
  font-size: 1.05em;
  background: primary(3);

  // Fix Chrome subpixel padding.
  box-shadow: 2px 0px 1px primary(3);
  
  &.name {
    text-align: left;
    padding-left: 3em;
  }
}

td {
  img {
    height: 1.5em;
    width: 1.5em;
    margin-right: 0.75em;
  }
}

tr {
  &:hover { cursor: pointer; }

  &:hover, &.selected {
    background: primary(2);
    // Fix Chrome subpixel padding.
    box-shadow: 2px 0px 1px primary(2);
  }

  .footer { font-weight: bold; }
}
