.info
{
  font-weight: bold;
  color: mediumseagreen;
}

.error
{
  font-weight: bold;
  color: tomato;
}

.note {
  width: 90%;
  margin: 1em auto;
  color: hsl(0, 0%, 50%);
  font-style: italic;
}

