.info
{
  font-weight: bold;
  color: $color-info;
}

.error
{
  font-weight: bold;
  color: $color-error;
}

.note {
  width: 90%;
  margin: 1em auto;
  color: $grey-darker;
  font-style: italic;
}

