.info
{
  font-weight: bold;
  color: $color-info;
}

.error
{
  font-weight: bold;
  color: $color-error;
}

.note {
  width: 90%;
  margin: 1em auto;
  color: grey(7);
  font-style: italic;

  a { text-decoration: underline; }
}

.hardwareWallets button {
  height: 3em;
  width: 38%;
  max-width: 17.4em;

  svg {
    height: 1.5em;
    fill: $black;
  }
}
